@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0,0,0, .7);
  width: 35px;

  &:active, &.active {
  color: $color;
    border-radius: 2px;
  }
  &:hover {
    background: #DFE5EB;
    border-radius: 3px;
    height: 30px;
    width: 35px;

    cursor: pointer;
  }
}
@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
